<!DOCTYPE html>
<html lang="pl">
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
</head>
<body>
<div class="form_container">
    <h3> ZAJOGUJ SIĘ </h3>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Nazwa użytkownika <input type="text" name="username"></p>
        <p>Hasło <input type="password" name="password"></p>
        <input type="submit" value="Zaloguj się">
    </form>

    {% for message in messages %}
    <p id="messages"> {{ message }} </p>
    {% endfor %}

    <p>
        Nie masz konta? <a href="/register">Zarejestruj się</a>.
    </p>
</div>
</body>
</html>