<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Sklep</title>
</head>
<body>
{% load static %}
<div class="header">
    <img src="{% static 'images/logo.png' %}" alt="logo">
    <form action="{% url 'search'%}" method="get">
        <input type="text" name="q" placeholder="Szukaj gry...">
        <button type="submit">Szukaj</button>
    </form>
    <a href="/admin">Wyloguj się</a>
</div>
    <div style="clear:both"></div>
    <div style="widht:200px; float:left">
        <h3> MENU </h3>
        {% for gat in gatunki %}
            <p><a href = "/gatunek/{{ gat.id }}"> {{ gat.nazwa }}</a> </p>
        {% endfor %}
    </div>

    <div style="width:700px; float:left">
        {% block gra %} {% endblock gra %}
    </div>
    <div style="clear:both"></div>
</body>
</html>